NEXT_PUBLIC_SUPABASE_URL=https://rvcghuazjysjcyzfcxhd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2Y2dodWF6anlzamN5emZjeGhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwOTIwNTksImV4cCI6MjA3ODY2ODA1OX0.bik4sNUOqWgx6DLaJlLKrTR67V6qg-Cuyx-aHFNdDzY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2Y2dodWF6anlzamN5emZjeGhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzA5MjA1OSwiZXhwIjoyMDc4NjY4MDU5fQ.xdBGtoOMxHK04rzJIObnhJgSAYq-B6yY1AHCDNJDzH0
